body
    script(src='/js/jquery.min.js', type='text/javascript')
    script(src='/js/bootstrap.min.js', type='text/javascript')
    script(src='/js/moment.min.js')
    script(src='/js/bootstrap-datetimepicker.js')
    script(src='/js/jquery.dataTables.min.js')
    script(src='/node_modules/jquery-validation/dist/jquery.validate.min.js')
    script(src='/node_modules/jquery-datetimepicker/build/jquery.datetimepicker.full.js')
    script(src='/js/dataTables.bootstrap4.min.js')