meta(charset='utf-8')
meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
title Jake Harvey Demo
meta(content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0', name='viewport')
meta(name='viewport', content='width=device-width')
link(href='https://fonts.googleapis.com/css?family=Muli:400,300', rel='stylesheet', type='text/css')
link(href='https://use.fontawesome.com/releases/v5.7.0/css/all.css', rel='stylesheet')
link(href='/css/bootstrap.css', rel='stylesheet')
link(href='/css/sb-admin-2.css', rel='stylesheet')
link(href='/css/dataTables.bootstrap4.min.css', rel='stylesheet')
link(href='/css/jquery.datetimepicker.css', rel='stylesheet')
