// Sidebar
#sidebar-wrapper
  ul.accordionSidebar.navbar-nav.bg-gradient-secondary.sidebar.sidebar-dark.accordion
    // Sidebar - Brand
    a.d-flex.align-items-center.justify-content-center(href='/locations')
        img.card-img-top.mx-auto(src='/logo/jakedemo2k.png', alt='Jake Harvey Demo')
    li.nav-item(class=(name === "Locations" ? "active" : undefined))
      a.nav-link(href='/locations')
        i.fas.fa-map-marker-alt
        span Locations
    li.nav-item(class=(name === "Contacts" ? "active" : undefined))
      a.nav-link(href='/contacts')
        i.fas.fa-id-card-alt
        span Contacts
    li.nav-item(class=(name === "Tasks" ? "active" : undefined))
      a.nav-link(href='/tasks')
        i.fas.fa-tasks
        span Tasks
    li.nav-item(class=(name === "Presentations" ? "active" : undefined))
      a.nav-link(href='/presentations')
        i.fas.fa-tv
        span Presentations
    li.nav-item(class=(name === "careplans" ? "active" : undefined))
      a.nav-link(href='/careplans')
        i.fas.fa-calendar-day
        span Care Plans
    hr.sidebar-divider.d-none.d-md-block
    li.nav-item(class=(name === "admin" ? "active" : undefined))
        if user.admin=='Y'
            a.nav-link(href='/admin')
                i.fas.fa-users-cog
                span Admin
    li.nav-item
      a.nav-link(href='/logout')
        i.fas.fa-sign-out-alt
        span Logout
    .text-center.d-none.d-md-inline
      button#sidebarToggle.rounded-circle.border-0
script(src='/js/toggle-sidebar.js')      
// End of Sidebar
