// Topbar
nav.navbar.navbar-expand.navbar-light.bg-white.topbar.mb-4.static-top.shadow
  // Topbar Navbar
  ul.navbar-nav.ml-auto
    if successmessages != '' && successmessages
      .alert.alert-success.alert-dismissible.fade.show !{successmessages}
        button.close(type='button', data-dismiss='alert', aria-label='Close')
          span(aria-hidden='true') X
    if failmessages != '' && failmessages
      .alert.alert-danger.alert-dismissible.fade.show !{failmessages}
        button.close(type='button', data-dismiss='alert', aria-label='Close')
          span(aria-hidden='true') X
    .topbar-divider.d-none.d-sm-block
    // Nav Item - User Information
    a.btn.btn-primary.link(href='profile', role='button')
      | !{user.Firstname} !{user.Lastname}
    a.btn.btn-secondary.link.ml-1(href='changepwd', role='button')
      | Change Password
// End of Topbar
