html
   head
      include ./generic/basehead.pug
   body
      include ./generic/basebody.pug
      .wrapper.wrapper-full-page
        .content
          .container
            .jumbotron
              .card(style='Max-width: 25rem;').mx-auto
                img.card-img-top(src='/logo/jakedemo2k.png', alt='Jake Harvey Demo')
                h1.h3.mx-auto.pt-1.text-gray-800 !{user.Firstname} !{user.Lastname}
                form(action='/changepassword', method='POST')
                  .form-group.pl-1.pr-1
                    input.form-control.form-control-user(type='password', name='newpassword1', placeholder='Please Enter your new Password', required='') 
                  .form-group.pl-1.pr-1
                    input.form-control.form-control-user(type='password', name='newpassword2', placeholder='Please Repeat your new Password', required='')
                  span
                  button.btn.btn-primary.btn-lg.btn-block.mx-auto.pl-1.pr-1(type='submit')
                    | Change Password
                if messages != ''
                  .alert.alert-danger.m-1 !{messages}
      include ./generic/footer.pug