html
     head
          include ./generic/basehead.pug
     body
          include ./generic/basebody.pug
          #wrapper
               include ./generic/sidebar.pug
               // Content Wrapper
               #content-wrapper.d-flex.flex-column
                    // Main Content
                    #content
                         include ./generic/topbar.pug
                         .container-fluid
                              // Page Heading
                              h1.h3.mb-2.text-gray-800 This page is under Development!
                              img.mx-auto(src='/img/legotruck.png', alt='Lego Truck')
          include ./generic/footer.pug