html
     head
          include ./generic/basehead.pug
     body
          include ./generic/basebody.pug
          #wrapper
               include ./generic/sidebar.pug
               // Content Wrapper
               #content-wrapper.d-flex.flex-column
                    // Main Content
                    #content
                         include ./generic/topbar.pug
                         include ./content/locationscontent.pug
          include ./generic/footer.pug