html
   head
      include ./generic/basehead.pug
   body
      include ./generic/basebody.pug
      .wrapper.wrapper-full-page
        .content
          .container
            .jumbotron
              .card(style='Max-width: 25rem;').mx-auto
                img.card-img-top(src='/logo/jakedemo2k.png', alt='Jake Harvey Demo')
                form(action='/login', method='POST')
                  .form-group.p-1.pt-3
                    if email != ''
                      input.form-control.form-control-user(type='text', name='email', required='', value=email[0])
                    else
                      input.form-control.form-control-user(type='text', name='email', placeholder='Enter Email Address...', required='')
                  .form-group.pl-1.pr-1
                    input.form-control.form-control-user(type='password', name='password', placeholder='Password', required='')
                  button.btn.btn-primary.btn-lg.btn-block.mx-auto.pl-1.pr-1(type='submit')
                    | Log in
                if messages != ''
                  .alert.alert-danger.m-1 !{messages}
                a.p-1(href='forgot.html') Forgot your password?
      include ./generic/footer.pug