html
     head
          include ./generic/basehead.pug
          link(href='/node_modules/@fullcalendar/core/main.css', rel='stylesheet')
          link(href='/node_modules/@fullcalendar/daygrid/main.css', rel='stylesheet')
          link(href='/node_modules/@fullcalendar/timegrid/main.css', rel='stylesheet')
          script(src='/node_modules/@fullcalendar/core/main.js')
          script(src='/node_modules/@fullcalendar/daygrid/main.js')
          script(src='/node_modules/@fullcalendar/timegrid/main.js')
          script(src='/node_modules/@fullcalendar/interaction/main.js')
          
     body
          include ./generic/basebody.pug
          #wrapper
               include ./generic/sidebar.pug
               // Content Wrapper
               #content-wrapper.d-flex.flex-column
                    // Main Content
                    #content
                         include ./generic/topbar.pug
                         if type === 'Calendar'
                              include ./content/presentationscal.pug
                         else
                              include ./content/presentationscontent.pug
          include ./generic/footer.pug