html
   head
        include ./base.pug
   body
        include ./base.pug
        #wrapper
            // Sidebar
            ul#accordionSidebar.navbar-nav.bg-gradient-primary.sidebar.sidebar-dark.accordion
                a.sidebar-brand.d-flex.align-items-center.justify-content-center(href='index.html')
                .sidebar-brand-icon.rotate-n-15
                    i.fas.fa-laugh-wink
                .sidebar-brand-text.mx-3
                    | SB Admin 
                    sup 2
                .logo
                    a.simple-text.logo-mini(href='http://www.creative-tim.com')
                        .logo-image-small
                            img(src='/logo/jakedemo500.png')
                    a.simple-text.logo-normal(href='http://www.creative-tim.com')
                        | Creative Tim
                .sidebar-wrapper    
                    .user
                        .info
                        a.collapsed(data-toggle='collapse', href='#collapseUser')
                            span
                            td
                            b.caret
                        .clearfix
                        #collapseUser.collapse
                            ul.nav.mt-3
                            li
                                a(href='/users/me/')
                                span.sidebar-mini
                                    i.fal.fa-cog
                                span.sidebar-normal Account settings
                            li
                                a(href='/users/signout/')
                                span.sidebar-mini
                                    i.fal.fa-sign-out
                                span.sidebar-normal Sign out
                    ul.nav
                        li
                        a(href='/dashboard')
                            i.fal.fa-tachometer-alt
                            p Dashboard
                        li
                        br
                        li
                        a(href='/events')
                            i.fal.fa-calendar-alt
                            p Events
                        li
                        a(href='/teams')
                            i.fal.fa-users-class
                            p Teams
                        li
                        a(href='/documents')
                            i.fal.fa-file
                            p Documents
                        li
                        a(href='/users')
                            i.fal.fa-users
                            p Users
        include ./footer.pug