doctype html
html
  head
    meta(charset='utf-8')
    title HLC Login
    link(rel='stylesheet', href='/css/bootstrap.min.css')
  body.bg-gradient-primary
    .container
    .row.justify-content-center
        .col-xl-4.col-lg-12.col-md-9
          .card.o-hidden.border-0.shadow-lg.my-5
      .photo
        img(src='/logo/jakedemo2k.png', alt='Convention Assist')
                .col-lg-12.d-none.d-lg-block
                  .p-5
                    .text-center
                      h1.h4.text-gray-900.mb-4 Welcome Back!
                    form(action='auth/login', method='POST')
                      .form-group
                        input.form-control.form-control-user(type='text', name='email', aria-describedby='emailHelp', placeholder='Enter Email Address...', required='')
                      .form-group
                        input.form-control.form-control-user(type='password', name='password', placeholder='Password', required='')
                      .form-group
                        input.btn.btn-primary.btn-lg.btn-block(type='submit' class="login" value="Login")
                  -if(messages)
                      div#note #{messages}
                  .text-center
                    a.small(href='forgot-password.html') Forgot Password?
                  .text-center
                    a.small(href='register.html') Create an Account!