.container-fluid
  // Page Heading
  h1.h3.mb-2.text-gray-800 Location Contacts
  // DataTales Example
  .card.shadow.mb-4
    .card-header
      .d-sm-flex.align-items-center.justify-content-between
        form.mb-0(action="/new", method="POST")
          input.form-control.form-control-user(type='hidden', name='NewType', value='Contact')
          button.d-none.d-sm-inline-block.btn.btn-sm.btn-primary.shadow-sm(type="submit")
            |  New
    .card-body
      .table-responsive
        table#table_id.table.table-bordered(width='100%', cellspacing='0')
            thead
                tr
                    th Title
                    th Name
                    th Phone
                    th Department
                    th Location
                    th
            tbody
              each location_contacts in data
                tr
                  td= location_contacts.Name
                  td= location_contacts.Title
                  td= location_contacts.Phone
                  td= location_contacts.Department
                  td= location_contacts.location.Name
                  td 
                    form.m-0(action="/contacts/details", method="POST")
                      input.form-control(type='hidden', name='Details', value=location_contacts.id)
                      button.btn.btn-sm.btn-primary.mr-1(type="submit")
                        i.fas.fa-info-circle
script(src='/js/datatables-demo.js')