.container-fluid
  // Page Heading
  h1.h3.mb-2.text-gray-800 #{name}
  .card.shadow.mb-4
    .card-header
      .d-sm-flex.align-items-center.justify-content-between
        form.mb-0(action="/new", method="POST")
          input.form-control.form-control-user(type='hidden', name='NewType', value='Location')
          button.d-none.d-sm-inline-block.btn.btn-sm.btn-primary.shadow-sm(type="submit")
            |  New
    .card-body
      .table-responsive
        table#table_id.table.table-bordered(width='100%', cellspacing='0')
            thead
                tr
                    th Name
                    th Address
                    th Postcode
                    th Telephone
                    th
            tbody
              each locations in data
                tr
                  td= locations.Name
                  td= locations.Address
                  td= locations.Postcode
                  td= locations.Telephone
                  td
                    form.m-0(action="/locations/details", method="POST")
                      input.form-control(type = 'hidden', name='Details', value=locations.id)
                      button.btn.btn-sm.btn-primary.mr-1(type="submit")
                        i.fas.fa-info-circle
script(src='/js/datatables-demo.js')