if contacts 
    - var Id = contacts.id
    - var Name = contacts.Name
    - var Title = contacts.Title
    - var Department = contacts.Department
    - var Email = contacts.Email
    - var Phone = contacts.Phone
    - var SecName = contacts.SecName
    - var SecPhone = contacts.SecPhone
    - var SecEmail = contacts.SecEmail
    - var LocationName = contacts.location.Name
    - var LocationID = contacts.location.id
    - var Type = contacts.Type
.card.shadow.mb-4
    .card-body
        .content
          .container
            form(id='contact', action='/newcontact', method='POST')
                .form-group.p-1.pt-3
                    input.form-control(type='hidden', name='Id', value= Id)
                    input.form-control(type='text', name='Name', placeholder='Name', required='', value= Name)
                .form-group.pl-1.pr-1
                    input.form-control(type='text', name='Title', placeholder='Title', value= Title)
                .form-group.pl-1.pr-1
                    input.form-control(type='text', name='Department', placeholder='Department', value= Department)
                .form-group.pl-1.pr-1
                    input.form-control(type='text', name='Email', placeholder='Email', value= Email)
                .form-group.pl-1.pr-1
                    input.form-control(type='text', name='Phone', placeholder='Phone', value= Phone)
                .form-group.pl-1.pr-1
                    select.form-control(type='text', name='Type', placeholder='Type')
                        if Type
                            option(value= Type) #{Type}
                        else
                            option
                                |--Contact Type                        
                        option
                            | Consultant
                        option
                            | Secretary
                        option
                            | Program Lead
                        option
                            | Department Head
                        option
                            | Other
                .form-group.pl-1.pr-1
                    input.form-control(type='text', name='SecName', placeholder='Secretary Name', value= SecName)
                .form-group.pl-1.pr-1
                    input.form-control(type='text', name='SecPhone', placeholder='Secretary Phone', value= SecPhone)
                .form-group.pl-1.pr-1
                    input.form-control(type='text', name='SecEmail', placeholder='Secretary Email', value= SecEmail)
                .form-group.pl-1.pr-1.input-group
                    select.form-control(type='text', name='Location', placeholder='Location', required='')
                        if contacts
                            option(value= LocationID) #{LocationName}
                            if locationdata
                                each i in locationdata
                                    option(value=i.id) #{i.Name}
                        else
                            option 
                                |--Location
                            each i in locationdata
                                option(value=i.id) #{i.Name}
                if name === 'New'  
                    button.btn.btn-primary.btn-lg.btn-block.mx-auto.pl-1.pr-1(type='submit')
                        | Create
                if name === 'View'
                    script(src='/js/readonly.js')
                    button.btn.btn-primary.btn-lg.btn-block.mx-auto.pl-1.pr-1(type='submit', id= 'edit', form='contact')
                        | Edit
                if name === 'Edit'   
                    button.btn.btn-primary.btn-lg.btn-block.mx-auto.pl-1.pr-1(type='submit')
                        | Update
            if name === 'View' || name === 'Edit' 
                form(id='delete', action='/deleteentity', method='POST')
                    input.form-control(type='hidden', name='Id', value=Id)
                    input.form-control(type='hidden', name='Type', value=type)
                    button.btn.btn-danger.btn-lg.btn-block.mx-auto.pl-1.pr-1(type="submit")
                        | Delete