.container-fluid
  // Page Heading
  h1.h3.mb-2.text-gray-800(id='Title') #{name} #{type}
  if type === 'Location'
    include ./newlocation.pug
  else if type === 'Contact'
    include ./newcontact.pug
  else if type === 'Task'
    include ./newtask.pug
  else if type === 'Presentation'
    include ./newpresentation.pug
  else
script(src='/js/validator.js') 