if data 
    - var Id = data.id
    - var Name = data.Name
    - var Trust = data.Trust
    - var Address = data.Address
    - var Postcode = data.Postcode
    - var Telephone = data.Telephone
    - var Url = data.Url
.card.shadow.mb-4
    .card-body
        .content
          .container
            form(id='location', action='/newlocation', method='POST')
                .form-group.p-1.pt-3
                    input.form-control.form-control-user(type='hidden', name='Id', value= Id)
                    input.form-control.form-control-user(type='text', name='Name', placeholder='Name', required='', value= Name)
                .form-group.pl-1.pr-1
                    input.form-control.form-control-user(type='text', name='Trust', placeholder='Trust', value= Trust)
                .form-group.pl-1.pr-1
                    input.form-control.form-control-user(type='text', name='Address', placeholder='Address', required='', value= Address)
                .form-group.pl-1.pr-1
                    input.form-control.form-control-user(type='text', name='Postcode', placeholder='Postcode', required='', value= Postcode)
                .form-group.pl-1.pr-1
                    input.form-control.form-control-user(type='text', name='Telephone', placeholder='Telephone', value= Telephone)
                .form-group.pl-1.pr-1
                    input.form-control.form-control-user(type='text', name='URL', placeholder='URL', value= Url, href=Url)
                if name === 'New'   
                    button.btn.btn-primary.btn-lg.btn-block.mx-auto.pl-1.pr-1(type='submit')
                        | Create
                if name === 'View'
                    script(src='/js/readonly.js')
                    button.btn.btn-primary.btn-lg.btn-block.mx-auto.pl-1.pr-1(type='submit', id= 'edit')
                        | Edit
                if name === 'Edit'   
                    button.btn.btn-primary.btn-lg.btn-block.mx-auto.pl-1.pr-1(type='submit')
                        | Update
            if name === 'View' || name === 'Edit' 
                form(id='delete', action='/deleteentity', method='POST')
                    input.form-control(type='hidden', name='Id', value=Id)
                    input.form-control(type='hidden', name='Type', value=type)
                    button.btn.btn-danger.btn-lg.btn-block.mx-auto.pl-1.pr-1(type="submit")
                        | Delete