if presentations 
    - var Id = presentations.id
    - var ContactName = presentations.location_contact.Name
    - var ContactID = presentations.location_contact.id
    - var LocationName = presentations.location.Name
    - var LocationID = presentations.location.id
    - var Type = presentations.type
    - var Instructions = presentations.instructions
    - var Datetime = presentations.Datetime
    - var UserID = presentations.userid
.card.shadow.mb-4
    .card-body
        .content
          .container
            form(id='presentation', action='/newpresentation', method='POST')
                .form-group.p-1.pt-3
                    input.form-control.form-control-user(type='hidden', name='Id', value= Id)
                .form-group.pl-1.pr-1
                    select.form-control(type='text', name='Location', placeholder='Location', required='')
                        if presentations
                            option(value= LocationID) #{LocationName}
                            if locationdata    
                                each i in locationdata
                                    option(value=i.id) #{i.Name}
                        else
                            option 
                                |--Location
                            each i in locationdata
                                option(value=i.id) #{i.Name}
                .form-group.pl-1.pr-1
                    select.form-control(type='text', name='Contact', placeholder='Name', required='', value= ContactName)
                        if presentations
                            option(value= ContactID) #{ContactName}
                            if contactdata    
                                each i in contactdata
                                    option(value=i.id) #{i.Name}
                        else
                            option 
                                |--Contact
                            each i in contactdata
                                option(value=i.id) #{i.Name}
                .form-group.pl-1.pr-1
                    input.form-control.form-control-user(type='text', name='Type', placeholder='Type', value= Type)
                .form-group.pl-1.pr-1
                    textarea.form-control.form-control-user(placeholder='Instructions', id='Instructions', name='Instructions', rows=4)=Instructions
                .form-group.pl-1.pr-1
                    input.form-control(type='text', id='datetimepicker', name='Datetime', placeholder='Date/Time', value= moment.utc(Datetime).format('MMMM Do YYYY, h:mm a'))
                .form-group.pl-1.pr-1
                     select.form-control(type='text', name='User', placeholder='User')
                        if presentations
                            option(value= UserID) #{presentations.user.Firstname} #{presentations.user.Lastname}
                            if userdata    
                                each i in userdata
                                    option(value=i.id) #{i.Firstname} #{i.Lastname}
                        else
                            option 
                                |--User
                            each i in userdata
                                option(value=i.id) #{i.Firstname} #{i.Lastname}
                if name === 'New'   
                    script(src='/js/datepicker.js')
                    button.btn.btn-primary.btn-lg.btn-block.mx-auto.pl-1.pr-1(type='submit')
                        | Create
                if name === 'View'
                    script(src='/js/readonly.js')
                    button.btn.btn-primary.btn-lg.btn-block.mx-auto.pl-1.pr-1(type='submit', id= 'edit')
                        | Edit
                if name === 'Edit'
                    script(src='/js/datepicker.js')
                    button.btn.btn-primary.btn-lg.btn-block.mx-auto.pl-1.pr-1(type='submit')
                        | Update
            if name === 'View' || name === 'Edit' 
                form(id='delete', action='/deleteentity', method='POST')
                    input.form-control(type='hidden', name='Id', value=Id)
                    input.form-control(type='hidden', name='Type', value=type)
                    button.btn.btn-danger.btn-lg.btn-block.mx-auto.pl-1.pr-1(type="submit")
                        | Delete