if tasks 
    - var Id = tasks.id
    - var ContactName = tasks.location_contact.Name
    - var ContactID = tasks.location_contact.id
    - var LocationName = tasks.location.Name
    - var LocationID = tasks.location.id
    - var Type = tasks.type
    - var Notes = tasks.notes
    - var Action = tasks.action
    - var DueDate = tasks.duedate
    - var UserID = tasks.userid
.card.shadow.mb-4
    .card-body
        .content
          .container
            form(id='task', action='/newtask', method='POST')
                .form-group.p-1.pt-3
                    input.form-control.form-control-user(type='hidden', name='Id', value= Id)
                .form-group.pl-1.pr-1
                    select.form-control(type='text', name='Location', placeholder='Location', required='')
                        if tasks
                            option(value= LocationID) #{LocationName}
                            if locationdata    
                                each i in locationdata
                                    option(value=i.id) #{i.Name}
                        else
                            option 
                                |--Location
                            each i in locationdata
                                option(value=i.id) #{i.Name}
                .form-group.pl-1.pr-1
                    select.form-control(type='text', name='Contact', placeholder='Name', required='', value= ContactName)
                        if tasks
                            option(value= ContactID) #{ContactName}
                            if contactdata    
                                each i in contactdata
                                    option(value=i.id) #{i.Name}
                        else
                            option 
                                |--Contact
                            each i in contactdata
                                option(value=i.id) #{i.Name}
                .form-group.pl-1.pr-1
                     select.form-control(type='text', name='Type', placeholder='Type')
                        if Type
                            option(value= Type) #{Type}
                        else
                            option
                                |--Task Type
                        option
                            |Appointment
                        option
                            |Information
                        option
                            |Presentation
                        option
                            |Follow Up
                        option
                            |Other
                .form-group.pl-1.pr-1
                    textarea.form-control.form-control-user(placeholder='Notes', id='Notes', name='Notes', rows=4)=Notes
                .form-group.pl-1.pr-1
                    select.form-control(type='text', name='Action', placeholder='Action')
                        if Action
                            option(value= Action) #{Action}
                        else
                            option
                                |--Task Action
                        option
                            |Send 1st Email
                        option
                            |Send Follow Up Email
                        option
                            |Call
                        option
                            |Email
                        option
                            |Confirm
                        option
                            |Presentation not accepted
                        option
                            |Other
                .form-group.pl-1.pr-1
                    input.form-control(type='text', id='datepicker', name='DueDate', placeholder='Due Date', value= moment.utc(DueDate).format('MMMM Do YYYY'))
                .form-group.pl-1.pr-1
                     select.form-control(type='text', name='User', placeholder='User')
                        if tasks
                            option(value= UserID) #{tasks.user.Firstname} #{tasks.user.Lastname}
                            if userdata    
                                each i in userdata
                                    option(value=i.id) #{i.Firstname} #{i.Lastname}
                        else
                            option 
                                |--User
                            each i in userdata
                                option(value=i.id) #{i.Firstname} #{i.Lastname}
                if name === 'New'   
                    script(src='/js/datepicker.js')
                    button.btn.btn-primary.btn-lg.btn-block.mx-auto.pl-1.pr-1(type='submit')
                        | Create
                if name === 'View'
                    script(src='/js/readonly.js')
                    button.btn.btn-primary.btn-lg.btn-block.mx-auto.pl-1.pr-1(type='submit', id= 'edit')
                        | Edit
                if name === 'Edit'   
                    script(src='/js/datepicker.js')
                    button.btn.btn-primary.btn-lg.btn-block.mx-auto.pl-1.pr-1(type='submit')
                        | Update
            if name === 'View' || name === 'Edit' 
                form(id='delete', action='/deleteentity', method='POST')
                    input.form-control(type='hidden', name='Id', value=Id)
                    input.form-control(type='hidden', name='Type', value=type)
                    button.btn.btn-danger.btn-lg.btn-block.mx-auto.pl-1.pr-1(type="submit")
                        | Delete