.container-fluid
  // Page Heading
  h1.h3.mb-2.text-gray-800 #{name}
  .card.shadow.mb-4
    .card-header
      .d-sm-flex.align-items-center.justify-content-between
        form.mb-0(action="/new", method="POST")
          input.form-control.form-control-user(type='hidden', name='NewType', value='Task')
          button.d-none.d-sm-inline-block.btn.btn-sm.btn-primary.shadow-sm(type="submit")
            |  New
        form.mb-0(action="/taskscal", method="POST")
          input.form-control.form-control-user(type='hidden', name='NewType', value='Calendar')
          button.d-none.d-sm-inline-block.btn.btn-sm.btn-primary.shadow-sm(type="submit")
            i.fas.fa-calendar-day.mx-auto
            span   Calendar
    .card-body
      .table-responsive
        table#table_id.table.table-bordered(width='100%', cellspacing='0')
            thead
                tr
                    th User
                    th Contact
                    th Location
                    th Type
                    th Due Date
                    th Action
                    th
            tbody
              each i in tasks
                tr
                  form.m-0(action="/tasks/details", method="POST")
                    td #{i.user.Firstname} #{i.user.Lastname}
                    td= i.location_contact.Name
                    td= i.location.Name
                    td= i.type
                    td= moment.utc(i.duedate).format('MMMM Do YYYY')
                    td= i.action
                    td 
                      input.form-control(type = 'hidden', name='Details', value=i.id)
                      button.d-none.d-sm-inline-block.btn.btn-sm.btn-primary.shadow-sm(type="submit")
                        i.fas.fa-info-circle
script(src='/js/datatables-demo.js')