.container-fluid
  // Page Heading
  h1.h3.mb-2.text-gray-800 #{name}
  .card.shadow.mb-4
    .card-header
      .d-sm-flex.align-items-center.justify-content-between
        form.mb-0(action="/new", method="POST")
          input.form-control.form-control-user(type='hidden', name='NewType', value='Task')
          button.d-none.d-sm-inline-block.btn.btn-sm.btn-primary.shadow-sm(type="submit")
            |  New
        form.mb-0(action="/taskscal", method="POST")
          input.form-control.form-control-user(type='hidden', name='NewType', value='Calendar')
          button.d-none.d-sm-inline-block.btn.btn-sm.btn-primary.shadow-sm(type="submit")
            i.fas.fa-calendar-day.mx-auto
            span   Calendar
    .card-body
      #taskcalendar
script(src='/js/task-calendar-render.js')